<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <a href="/">Home</a>
    <a href="/auth/register">Register</a>
    <h1>Login</h1>
    <form action="/auth/login" method="POST">
        <div>
            <label for="email">Email
                <input type="email" name="email" id="email">
            </label>
        </div>
        <div>
            <label for="password">Password
                <input type="password" name="password" id="password">
            </label>
        </div>
        <input type="submit" value="Registrarse">
    </form>
</body>

</html>