<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <a href="/auth/login">Log in</a>
    <a href="/auth/register">Register</a>
    <a href="/tags">Buscar por etiqueta</a>
    <a href="/locations">Buscar por lugar</a>
    <a href="/my-account">My account</a>
    {{!-- <a href="/my-account/add-experience">Add experience</a> --}}
</body>
</html>