<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Travel experiences</title>
</head>

<body>
    <nav class="nav-bar">
        <a href="/">Home</a>
    
        <form action="/auth/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
        
        <a href="/my-account">My account</a>
    </nav>
    
    <h1>Add experience</h1>
    <form action="/my-account/add-experience" method="POST" enctype="multipart/form-data">
        <div>
            <label for="location">Location
                <input type="text" name="location" id="location">
            </label>
        </div>
        <div>
            <label for="country">Country
                <select name="country" id="country">
                    {{#each countries}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                    {{!-- <option value="Canada">Canada</option>
                    <option value="France">France</option>
                    <option value="Norway">Norway</option>
                    <option value="Denmark">Denmark</option>
                    <option value="Netherlands">Netherlands</option>
                    <option value="Portugal">Portugal</option> --}}
                </select>
            </label>
        </div>
        <div>
            <label for="description">Description
                <input type="text" name="description" id="description">
            </label>
        </div>
        <div>
            <label for="rating">Rating
                <input type="text" name="rating" id="rating">
            </label>
        </div>
        <div>
            <label for="tags">Etiqueta
                <select name="tags" id="tags" multiple >
                    {{#each tags}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                    {{!-- <option value="nature">Nature</option>
                    <option value="landscape">Landscape</option>
                    <option value="culture">Culture</option>
                    <option value="roadtrip">Roadtrip</option>
                    <option value="big city">Big city</option> --}}
                </select>
            </label>
        </div>
        <div>
            <label for="image">Imagen
                <input type="file" name="image">
            </label>
        </div>
        <input type="submit" value="Add experience">
    </form>
</body>

</html>