<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Travel experiences</title>
</head>

<body>
    <nav class="nav-bar">
        <a href="/">Home</a>
    
        <form action="/auth/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
        
        <a href="/my-account">My account</a>
    </nav>
    
    <h1>Add experience</h1>
    <form class="form" action="/my-account/add-experience" method="POST" enctype="multipart/form-data">
        <div class="form__option">
            <label for="location">Location</label>
            <input class="form-input--50" type="text" name="location" id="location">
        </div>
        <div class="form__option">
            <label for="country">Country</label>
            <select class="form-input--50" name="country" id="country">
                {{#each countries}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{!-- <option value="Canada">Canada</option>
                <option value="France">France</option>
                <option value="Norway">Norway</option>
                <option value="Denmark">Denmark</option>
                <option value="Netherlands">Netherlands</option>
                <option value="Portugal">Portugal</option> --}}
            </select>
        </div>
        <div class="form__option">
            <label for="description">Description</label>
            <input class="form-input--50" type="text" name="description" id="description">
        </div>
        <div class="form__option">
            <label for="rating">Rating</label>
            <input class="form-input--50" type="text" name="rating" id="rating">
        </div>
        <div class="form__option form__option--select">
            <label for="tags">Etiqueta</label>
            <select class="form__select-tags" name="tags" id="tags" multiple >
                {{#each tags}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{!-- <option value="nature">Nature</option>
                <option value="landscape">Landscape</option>
                <option value="culture">Culture</option>
                <option value="roadtrip">Roadtrip</option>
                <option value="big city">Big city</option> --}}
            </select>
        </div>
        <div class="form__option form__option--file">
            <label for="image">Imagen</label>
            <input type="file" name="image">
        </div>
        <input class="form__option button form__option--button" type="submit" value="Add experience">
    </form>
</body>

</html>