<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Travel experiences</title>
</head>
<body>
    <nav class="nav-bar">
        <a href="/">Home</a>
    
        {{#if user}}
            <form action="/auth/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        {{else}}
            <a href="/auth/login">Log in</a>
            <a href="/auth/register">Register</a>
        {{/if}}
        <a href="/my-account">My account</a>
    </nav>

    <h1>Buscar por etiquetas</h1>
    <div class="tags">
        {{#each tags}}
            <a class="tags__option" href="/tags/{{tagName}}">
            <div class="tags__image img-effect">
                <img src="{{tagImg}}" alt="">
            </div>
            <h2>{{tagName}}</h2>
        </a>
        {{/each}}
    </div>
</body>
</html>